.searchbar {
  width: 400px;
  padding: 0 1rem 0.2rem 1rem;
}

input[type="text"] {
  width: 0;
  height: 1.8rem;
  border: none;
  font-size: 1.2rem;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcwIDcwIiBoZWlnaHQ9IjcwcHgiIGlkPSJJY29ucyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNzAgNzAiIHdpZHRoPSI3MHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNTEuOTU3LDQ5LjEyOWwtOC43MTMtOC43MTNjMS43NS0yLjMzNywyLjc5OS01LjIyOSwyLjc5OS04LjM3M2MwLTcuNzMyLTYuMjY4LTE0LTE0LTE0cy0xNCw2LjI2OC0xNCwxNHM2LjI2OCwxNCwxNCwxNCAgYzMuMTQ0LDAsNi4wMzYtMS4wNDksOC4zNzMtMi43OTlsOC43MTMsOC43MTNMNTEuOTU3LDQ5LjEyOXogTTIyLjA0MywzMi4wNDNjMC01LjUxNCw0LjQ4Ni0xMCwxMC0xMGM1LjUxNCwwLDEwLDQuNDg2LDEwLDEwICBjMCw1LjUxNC00LjQ4NiwxMC0xMCwxMEMyNi41MjksNDIuMDQzLDIyLjA0MywzNy41NTcsMjIuMDQzLDMyLjA0M3oiLz48L3N2Zz4=");
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: 2rem;
  outline: none;
  transition: width 0.9s ease-in-out;
  padding-left: 2rem;
}

input[type="text"]:focus {
  width: 80%;
  border-bottom: 1px solid #000;
}
